.main-section {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-top: 3rem;
}

.main-section > * {
  width: 85%;
  height: 350px;
  align-self: center;
}

@media all and (max-width: 360px) {
  .main-section > * {
    height: 280px;
  }
}

@media all and (min-width: 600px) {
  .main-section > * {
    max-width: 500px;
    height: 400px;
  }
}

@media all and (min-width: 1024px) {
  .main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "descr image" "projects projects";
    /* margin: 0 3rem; */
  }

  .main-section > * {
    max-width: 550px;
    height: 500px;
    justify-self: center;
  }
}
