:root {
  --black: #0e0806;
  --dark-blue: #003049;
  --pink: #ca8373;
  --platinum: #e7e6e5;
  --violet: #95abd7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  background-color: var(--platinum);
  font-family: "Montserrat", sans-serif;
  color: var(--black);
}
