.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}

.title {
  font-size: 2rem;
  text-align: center;
  padding: 3rem 2rem;
}

/* image ratio: 16:9 */

.image {
  position: relative;
  align-self: center;
  width: 360px;
  height: 202.5px;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
}

.image img {
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: var(--dark-blue);
  color: white;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
}

.list {
  margin-left: 1rem;
}

li {
  list-style: none;
  text-align: start;
}

ul li::before {
  content: "\2022";
  color: var(--pink);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
section > * {
  padding: 0.5rem;
}

.link {
  /* border-style: solid;
  border-radius: 10px;
  border-color: var(--pink); */
  width: 200px;
  margin-top: 10px;
  margin-left: 90px;
}

.link a {
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.3rem;
  color: white;
}

.link a:hover {
  color: var(--pink);
}

.tools {
  padding: 2rem 0;
  text-align: center;
  max-width: 600px;
}

.bold {
  font-weight: 700;
}

.image:hover .overlay {
  opacity: 90%;
}

@media all and (max-width: 375px) {
  .title {
    font-size: 1.5rem;
    padding: 2rem 1rem;
  }

  .image {
    width: 260px;
    height: 146.25px;
  }

  .link {
    width: 200px;
    margin-top: 0;
    margin-left: 30px;
  }

  .overlay {
    font-size: 0.7rem;
    padding: 0;
  }
  .tools {
    width: 260px;
    align-self: center;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .overlay {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .link {
    margin-left: 75px;
  }
}

@media all and (min-width: 426px) {
  .image {
    width: 430px;
    height: 241.88px;
  }
}
